@charset "UTF8";

body{
    font-family: Arial, sans-serif;
    
}

.container{
    padding: 35px 0;
}
p, li{
    color: rgb(19, 18, 18);
    font-size: 18px;
}

.title{
    color:black;
    margin: 50px 0 50px 0;
    font-size: 40px;
    text-align: center;    
}
/* Barra de Navegação*/

.cabecalho, .navbar{
    background-color: white;
}
#nav-conteiner {
    padding-top: 0;
    padding-bottom: 0;
    
}
#Logo{
    width: 250px;
    color: #fff;
    margin-left: 5px;
}

#navbarlink a {
    color:black;
}
#navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .5rem;
    
}

/* Slides*/

.container-fluid{
    padding: 0;
}
#carrossel .carousel-inner, #carrossel  .carousel-item{
    height: 80vh;
}
#carrossel .carousel-caption{
    bottom: 0;

}
#carrossel .carousel-caption h5{
    color: black;
    font-size: 70px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    
}
#carrossel .carousel-caption p{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.226);
}
.carousel-indicators .active{
    background-color: black;
}
.carousel-control-prev-icon {
    background-color: rgba(24, 19, 19, 0.644);    
}
.carousel-control-next-icon{
    background-color: rgba(24, 19, 19, 0.644);
}

/*Contato*/

#contato-menu{
    text-align: center;
    border-bottom: 2px solid black;
    
}
.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    
}

.contact-box i{
    color: black;
    border: solid 2px black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: black;
}

/*Footer*/

#copy-area{
    background-color: white;
    border-bottom: 2px solid black;

}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    
}
#copy-area .container p{
    color: black;
}
#copy-area .container #whats{
    color: green;
}

.container #whatsF{
    position:fixed;
    width:40px;
    height:40px;
    bottom:80px;
    right:40px;
    background-color:#25d366; 
    color: white;
    border-radius:50%;
    text-align:center;    
    font-size:35px;    
    z-index:1030; 
    
}

/*Responsivo*/
@media(max-width:768px){
    .container{
        padding:  20px 0;
    }
    #carrossel .carousel-inner, #carrossel .carousel-item{
        height: auto;
    }
    #carrossel .carousel-caption h5{
        font-size: 25px;
    }
    #carrossel .carousel-caption p{
        font-size: 16px;
        margin-bottom:40px ;
        
    }
    .carousel-caption{
        left: 10%;
        right: 10%;
    }
}
@media(max-width: 425px){
    #carrossel{
        margin-top: 90px;
    }
    #carrossel .carousel-caption{
        bottom :10%;
    }
    #carrossel .carousel-caption h5{
        font-size: 25px;
        margin-bottom: 5px;
    }
    #carrossel .carousel-caption p{
        font-size:15px;
        margin-bottom: 0;
    }
}
